<div class="menu">
  <input matInput placeholder="Commands" id="command" name="command" [(ngModel)]="command">
  <button (click)="move('left')">Left</button>
  <button (click)="move('right')">Right</button>
  <button (click)="move('up')">Up</button>
  <button (click)="move('down')">Down</button>
  <button (click)="changeColor()">{{pencilColor}}</button>
  <button (click)="this.isDrawing = !this.isDrawing">{{isDrawing ? 'Draw' : 'Not drawing'}}</button>
</div>

<div class="row" *ngFor="let item of rows; let index;">
  <div class="column" *ngFor="let item of columns; let indexj;">
    <app-tile [id]="(indexj + 1 + (columnInput * index))" [x]="indexj" [y]="index" ></app-tile>
  </div>
</div>
