<div class="menu">
  <input matInput placeholder="Commands" id="command" name="command" [(ngModel)]="command" (keydown.enter)="interpretCommand()">
  <button (click)="openDialog()">Command history</button>
  <p> Color: {{pencilColor | firstLetterUpper}} </p>
  <p> Pencil state: {{isDrawing ? 'Draw' : 'Not drawing'}} </p>
</div>


<app-board class="board" [pencilColor]="pencilColor" (colorChangedEvent)="pencilColor = $event" [command]="command" [isDrawing]="isDrawing" (isDrawingEvent)="isDrawing = $event" [commandHistory]="commandHistory"></app-board>



<ng-template>
  <h1 mat-dialog-title>Command history</h1>
  <div mat-dialog-content>
    <mat-list class="list" role="list">
      <mat-list-item role="listitem" *ngFor="let command of commandHistory;">
        {{command.action}} {{command.direction != null && command.direction != undefined ? command.direction : ''}} {{command.value}}
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
